<a routerLink="/" class="btn btn-info mt-4">назад</a>
<div class="row mt-4">
    <div class="col-sm-12 col-lg-4 col-md-4">
        <img src="/assets/Mendeleev.jpg" style="width: 100%;">
    </div>
    <div class="col-sm-12 col-lg-8 col-md-8">
        <h3>Менделеев, Дмитрий Иванович</h3>
        <p>Дми́трий Ива́нович Менделе́ев (27 января [8 февраля] 1834, Тобольск — 20 января [2 февраля] 1907, Санкт-Петербург) — русский учёный-энциклопедист: химик, физикохимик, физик, метролог, экономист, технолог, геолог, метеоролог, нефтяник, педагог, воздухоплаватель, приборостроитель. 
            Профессор Императорского Санкт-Петербургского университета; член-корреспондент (по разряду «физический») Императорской Санкт-Петербургской Академии наук. Среди самых известных открытий — периодический закон химических элементов, один из фундаментальных законов мироздания, неотъемлемый 
            для всего естествознания. Автор классического труда «Основы химии». Тайный советник.</p>
    </div>
</div>